#################
# Log Directory #
#################
logs/


####################
# Vagrant Machines #
####################
vagrant/

########################
# Puppet Configuration #
########################
puppet/
